.photo{
	position: absolute;
width: 560px;
height: 1074px;
top: 0px;
left: 200px;
background: #303030;
border: 1px solid #F1F1F1;
border-radius: 100px
}
.photo2{
	position: absolute;top: 400px;left: 300px;
}
.hairstyle{
	position: absolute;top: 390px;left: 358px;
}
.sidebar{
	position: absolute;
width: 101px;
height: 2404px;
left: 0px;
top: 0px;

background: #FFFFFF;
border: 1px solid #E8E7E7;
box-sizing: border-box;
box-shadow: 0px 1px 50px rgba(0, 0, 0, 0.08);
}
.Контакты{
	position: absolute;
width: 60px;
height: 60px;
left:15px;
top: 90px;

}
.Sport{
position: absolute;
width: 370px;
height: 705px;
left: 790px;
top: 100px;

background: #E36365;
/* кнопка */

box-shadow: 0px 30px 33px -18px rgba(53, 62, 74, 0.4);
border-radius: 58px;">
}
.Таблица{
		position: absolute;
width: 860px;
height: 1174px;
top: 1200px;
left: 200px;
background: #303030;
border: 1px solid #F1F1F1;
border-radius: 100px
}