.photo{
	position: absolute;
width: 560px;
height: 1074px;
top: 0px;
left: 200px;
background: #303030;
border: 1px solid #F1F1F1;
border-radius: 100px
}
.photo2{
	position: absolute;top: 400px;left: 300px;
}
.hairstyle{
	position: absolute;top: 390px;left: 358px;
}


.Sport{
position: absolute;
width: 370px;
height: 705px;
left: 790px;
top: 100px;

background: #E36365;
/* кнопка */

box-shadow: 0px 30px 33px -18px rgba(53, 62, 74, 0.4);
border-radius: 58px;">
}
.Таблица{
		position: absolute;
width: 860px;
height: 874px;
top: 1200px;
left: 200px;
background: #303030;
border: 1px solid #F1F1F1;
border-radius: 100px
}
.Таблица2{
	position: absolute;
	width: 860px;
height: 1574px;
top: 2400px;
left: 200px;
background: #303030;
border: 1px solid #F1F1F1;
border-radius: 100px;
}
.Таблица3{
			position: absolute;
width: 860px;
height: 674px;
top: 4200px;
left: 200px;
background: #303030;
border: 1px solid #F1F1F1;
border-radius: 100px
}
